:root {
  --main-red: rgba(211, 9, 19);
  --main-red-hover: rgba(211, 9, 10, 0.3);
  --main-dark: rgba(20, 20, 20);
  --main-deep-dark: rgba(0, 0, 0);
  --main-grey: rgba(153, 153, 153);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica";
  background: var(--main-dark);
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.header-container {
  width: 100vw;
  height: 90vh;
  position: relative;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(../assets/images/bg.jpg) no-repeat center center/cover;
}
.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 4.375rem 3.125rem 11.875rem #000,
    inset -4.375rem -3.125rem -11.875rem #000;
}
.header-top {
  position: relative;
  height: 10rem;
  z-index: 1;
}
.logo {
  width: 10rem;
  height: 3.5rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signIn-btn {
  right: 0;
  margin: 1.125rem 3% 0;
  padding: 0.4375rem 1.0625rem;
  font-weight: 400;
  line-height: normal;
  border-radius: 0.1875rem;
  font-size: 1rem;
  background: var(--main-red);
  position: absolute;
  translate: transform(-50%, -50%);
  cursor: pointer;
}

.signIn-btn:hover {
  background: var(--main-red-hover);
}

.header-title {
  margin: 0 0 1.2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1em;
}
.header-content {
  width: 65%;
  position: relative;
  margin: 4.5rem auto 0;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 1;
}
.header-text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25rem;
  margin: 0, 0, 1.875rem;
}
.header-content .one,
.header-content .two {
  margin: 1rem 0;
}
.header-content input {
  margin: 1rem 20%;
  padding: 1rem 0.7rem;
  font-size: 1rem;
}
.header-btn {
  display: inline-block;
  background: var(--main-red);
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 0 38%;
  border-radius: 0.1875rem;
  font-size: 1.4rem;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  transition: background 0.2s ease-in;
  cursor: pointer;
  padding: 1rem;
}
.header-btn:hover {
  background: var(--main-red-hover);
}
.header-btn svg {
  vertical-align: middle;
}
.tab-door-icon {
  width: 3rem;
  height: 3rem;
  fill: var(--main-grey);
}
.tab-price-icon {
  width: 4rem;
  height: 4rem;
  fill: var(--main-grey);
}
.tab-devices-icon {
  width: 10rem;
  height: 10rem;
  margin-bottom: -6rem;
  fill: var(--main-grey);
}

.tabs {
  padding-top: 1rem;
}
.tabs-nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-content: center;
  justify-content: center;
  grid-gap: 1rem;
  list-style: none;
  color: var(--main-grey);
  margin: 0 12%;
}
.tab:hover {
  color: white;
  cursor: pointer;
}
.tab:hover svg path {
  fill: white;
}

.tabs-nav-container .active {
  border-bottom: 4px solid var(--main-red);
  color: white;
}
.tabs-nav-container .active svg path {
  fill: white;
}
.tab-text-lg {
  display: block;
  margin-bottom: 1.9rem;
}
.tab-text-sm {
  display: none;
}
.tab-door-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  font-size: 2rem;
  padding: 2.5rem;
  background: var(--main-deep-dark);
  border-top: 1px solid var(--main-grey);
}
.tab-content-text {
  padding: 2rem;
  margin: 1rem;
}
.tab-door-content img {
  width: 32rem;
}
button {
  display: inline-block;
  background: var(--main-red);
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 1rem 0;
  color: white;
  border-radius: 0.1875rem;
  font-size: 1.4rem;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  transition: background 0.2s ease-in;
  cursor: pointer;
  padding: 1rem;
}
button:hover {
  background: var(--main-red-hover);
}
.tab-top-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  font-size: 2rem;
  padding: 3.5rem 10rem;
  background: var(--main-deep-dark);
  border-top: 1px solid var(--main-grey);
}
.tab-top-content button {
  margin: 0 4rem;
}
.tab-bottom-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem 6rem;
  text-align: center;
  background: var(--main-deep-dark);
}
.tab-bottom-content h3 {
  margin: 0.5rem 0;
}
.tab-bottom-content p {
  color: var(--main-grey);
}
.tab-tv img {
  width: 18rem;
}
.tab-tablet img {
  width: 18.75rem;
  padding: 0.625 0 0 0;
}
.tab-mac img {
  width: 18.5rem;
  padding: 0.625rem 0 0 0;
}
.tab-bottom-table {
  padding: 0 15rem;
  background: var(--main-deep-dark);
}
table {
  width: 100%;
  border-collapse: collapse;
}
table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}
table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}
table tbody tr td:first-child {
  text-align: left;
}
table tbody tr:nth-child(even) {
  background: #222;
}
.footer {
  padding: 2rem 15rem;
  color: var(--main-grey);
  background: var(--main-deep-dark);
}
.foot-notes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 0;
}
.footer li {
  list-style: none;
  margin: 0.6rem;
}
.footer a {
  margin: 0rem;
  color: grey !important;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .select-lang-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: transparent;
  border: 1px solid #333;
  padding: 1rem;
  width: 10rem;
  margin-bottom: 0;
  cursor: pointer;
}
.footer .lang-toggle ul {
  background: var(--main-deep-dark);
  width: 10rem;
  border: 1px solid #333;
  text-align: center;
}
.footer .lang-toggle li {
  padding: 0.7rem;
  border-bottom: 1px solid #333;
  cursor: pointer;
}
.footer .lang-toggle li:hover {
  background: #0085ff;
  color: white;
}
.footer p {
  margin-top: 3rem;
}
.signin-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  padding: 2rem 3rem 10rem;
  width: 30vw;
  background-color: rgb(10, 10, 10, 0.7);
  z-index: 5;
}
.form-container h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.form-container input {
  margin-bottom: 1rem;
  padding: 0.7rem 1rem;
  width: 100%;
  background: rgba(150, 149, 149, 0.4);
  color: white;
}
.form-container .submit-btn {
  background: var(--main-red);
  text-align: center;
  padding: 0.5rem 8rem;
  font-weight: 600;
  border-radius: 5px;
  margin: 2rem 0 1rem 0;
  cursor: pointer;
}
.form-container .submit-btn:hover {
  background: var(--main-red-hover);
}
.checkbox-container {
  margin-left: 0.75rem;
  padding-left: 1.875rem;
  position: relative;
  font-size: 0.9rem;
  cursor: pointer;
}
.checkbox-container input {
  display: none;
}
.checkbox-container .checkmark {
  display: inline-block;
  background: #454545;
  width: 1.1rem;
  height: 1.1rem;
  left: 0;
  top: 0;
  border-radius: 0.1rem;
  position: absolute;
}
.checkbox-container input:checked + .checkmark:after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 0.625rem;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  top: 25%;
  left: 21%;
  transform: rotate(-45deg);
}
.need-help {
  text-decoration: none;
  color: #828282;
  margin-left: 6.6rem;
  font-size: 0.9rem;
}
.form-bottom img {
  width: 1.5625rem;
  margin: 0.625rem 0.625rem -0.4375rem 0;
}
.fb-login-text {
  color: #828282;
  font-size: 0.9rem;
  margin-bottom: 9rem;
}
.form-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}
.sign-up-text {
  font-size: 1.1rem;
  color: #fff;
}
.sign-up-text:hover {
  text-decoration: underline;
}
.login-error-msg {
  color: var(--main-red);
  font-size: 0.8rem;
  margin: 0 0 1rem;
}
.plans-page {
  background: white;
  min-height: 100vh;
}
.plans-content {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.plans-content img {
  width: 2.23rem;
  height: 2.3rem;
}
.plans-content p {
  color: var(--main-grey);
  margin: 0.8rem 0 0.5rem;
}
.plans-content h2 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.plans-content .check-list {
  margin: 1rem auto 3rem;
  padding-left: 1.6rem;
  width: 75%;
  font-size: 17px;
  padding: auto;
}
.bullet {
  margin-top: 1rem;
  margin-left: 1rem;
  text-indent: -1em;
  line-height: 1.2rem;
}
.check-list .bullet:before {
  color: transparent;
  display: inline-block;
  position: relative;
  height: 0.3em;
  width: 0.8em;
  content: "";
  left: -0.9375rem;
  bottom: 0.1875rem;
  border-bottom: 1px solid #e50914;
  border-left: 1px solid #e50914;
  transform: rotate(-45deg);
}
